.container {
  background: linear-gradient(
    45deg,
    rgb(189, 137, 137),
    rgb(175, 142, 236),
    rgb(248, 101, 101),
    rgb(116, 214, 191)
  );
  height: 92vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.input {
  height: 50vh;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  flex: 2;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  /* margin-left: 3rem;
  margin-bottom: 1rem; */
  align-items: center;
  justify-content: center;
}
.btn {
  height: 100px;
}

.images {
  height: 11.5rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 10px 10px 5px rgb(8, 54, 70);
  cursor: pointer;
}
.images:hover {
  transform: scale(1.1);
}
.submit {
 
 
}
.submit input {
  width:70vw;
  height: 3rem;
  border-radius: 0.3rem;
  background-color: antiquewhite;
  box-shadow:2px 2px 7px  rgb(8, 54, 70);
}
.submit Button {
  background-color: black;
  color: white;
  margin-left: 1rem;
  border-radius: 10px;
  border: none;
  height: 3rem;
  width: 7rem;
  cursor: pointer;
  box-shadow:2px 2px 7px  rgb(8, 54, 70);
}
.submit Button:hover{
  transform: scale(1.1);
}
.form{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
