

.btnContainer{
    display: flex;
    width: 18rem;
    height: 40px;
    font-size: 20px;
    align-items: center;
    padding-left: 15px;
    border-radius: 10px;
    background-color: #CAD5E2;
   /* background-color: transparent; */
   /* backdrop-filter: blur(10px); */
}
.btnContainer:hover{
    cursor: pointer;
    background-color:#758283;
}