.cardinfo-container{
    padding: 30px;
    background-color:#242B2E;
    display: flex;  
    flex-direction: column;
    gap: 30px;
     width: 600px;
     margin-top: -10px;
     min-height: 80vh;
     overflow-y: auto;

}
.cardinfo-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    position: relative;
   

}
 .icon-title{
    
    position: absolute;
    left: -20px;
    min-height: 30px;
  
    
 }
.cardinfo-box_title{
    font-weight: bold;
    min-height: 30px;
    font-size: 1.3rem;
    padding: 10px;
}
.title-input{
    /* width: fit-content; */
    
}
.description-title{
    font-size: 16px;
    line-height: 14px;
    

}
.hide-btn{
    width: 80px;
    padding: 10px 5px;
    position: absolute;
    right: 1px;
    font-size: 12px;
    border-radius: 10px;
    color: #fff;
    background-color:#758283;
}

.cross-icon{
    position: absolute;
    top: 2%;
    right: 14px;
     color: #fff;
      cursor: pointer;
}

.cross-icon :hover{
    background-color:#758283;
    border-radius:100%;
    padding: 3px;
}