.card_title{
    display: flex;
    width:288px;
    height:40px;
    border-radius: 10px;
   padding-left: 8px;
   padding-right: 8px;
   background-color:#242B2E ;
    color:white;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.card_title:hover{
    background-color:#758283;
}

.icon{
    display:flex;
    gap:10px;
    margin-right:0rem;
}
.pop{
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: transparent;
    
}
.btn{
    background-color:#1B98F5 ;
    width: 5rem;
    height: 2.5rem ;
    border: none;
    border-radius: 5px;
   margin-top:1rem ;
}
.txt{
    width: 200px;
    height: 100px;
}
