.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8vh;
  /* background-color: #242b2e; */
  background-color: rgba(0,0,0,.8);

  color: white;
}
.innerContainer {
  width: 90%;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.navContent {
  min-width: 6rem;
  height: 2rem;
  cursor: text;
  font-size: 1.5rem;
}

.navContent:hover {
  background-color: #dadce0;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.icon {
  font-size: 30px;
}
.back {
  display: flex;
  flex-direction: row;
}

.rightNav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.infoIcon{
  font-size: 1.2rem;
  cursor: pointer;
}
.infoIcon:hover{
  transform: scale(1.2);
}
