
.container{
    display: flex;
    align-items: center;
    border: 1px solid;
    /* justify-content: center; */
    /* background-color: transparent; */
    width: 100%;
    height:10vh;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px)
   
}
.navContent{
    margin-left: 5rem;
}