
.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    /* background-color: grey; */
    /* background-image: url(https://images.pexels.com/photos/2117937/pexels-photo-2117937.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
    /* background-image: url(https://images.pexels.com/photos/3377405/pexels-photo-3377405.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
    background-image: url(https://images.unsplash.com/photo-1492585218704-f13bed42579b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    align-items: center;
    
}